@font-face{
    font-family: "JetBrainsMono";
	src: url('../fonts/JetBrainsMono/JetBrainsMono-Regular.woff2') format("woff2");
	font-style: normal;
	font-weight: normal;
}
@font-face{
    font-family: "JetBrainsMono";
	src: url('../fonts/JetBrainsMono/JetBrainsMono-Italic.woff2') format("woff2");
	font-style: italic;
	font-weight: normal;
}
@font-face{
    font-family: "JetBrainsMono";
	src: url('../fonts/JetBrainsMono/JetBrainsMono-Bold.woff2') format("woff2");
	font-weight: bold;
	font-style: normal;
}
@font-face{
    font-family: "JetBrainsMono";
	src: url('../fonts/JetBrainsMono/JetBrainsMono-Bold-Italic.woff2') format("woff2");
	font-weight: bold;
	font-style: italic;
}